section.contact
    span.sp-nav.fa.fa-arrow-up
    article
    |Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid hic praesentium repudiandae dolore earum quos ipsum quaerat libero maxime ad, facere incidunt possimus iste quia ducimus omnis, fugiat sunt voluptates.
    |Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates maxime veritatis odio perspiciatis enim possimus perferendis vel blanditiis velit architecto eius ipsa, voluptatibus minus officia adipisci tempora voluptate ducimus numquam.