<!DOCTYPE html>
html(lang="en")
    head       
        include ../_metaTags.pug
        include ../_linkTags.pug
    body
        include _header.pug
        include _scroll.pug
        include _about.pug
        include _actualites.pug
        include _evenements.pug
        include _contact.pug
        script(src="../js/main.js")