/*General Rules*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    body {
        width: 80%;
        margin: auto;
        
    
    }
}

h1,h2,h3,h4,h5,h6{
    font-family: 'DmSerif';
}
p,span,a,label,input{
    font-family: 'Roboto';
}


