@font-face {
    src: url('../fonts/DmSerif/DMSerifText-Regular.ttf');
    font-family: 'DmSerif';
    font-style: normal;
    font-weight: normal;
}
@font-face {
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
}
@font-face {
    src: url('../fonts/Roboto/Roboto-Italic.ttf');
    font-family: 'Roboto';
    font-style: italic;
    font-weight: normal;
}
@font-face {
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
}